<html>
    <head></head>
    <body>
        <p>Your request took {{ totalTime }}</p>
        <p>The Url Called was {{ url }}</p>
        <p>Header Size (get size of retrieved headers) : {{ headerSize }} And Request Size (The total amount of bytes that were sent in the HTTP request): {{ requestSize }}</p>
        <p>The content of the response is {{ content }}</p>
    </body>
</html>

