<html>
    <head></head>
    <body>
        <p>Your request took {{ totalTime }}</p>
        <p>The Url Called was {{ url }}</p>
        <p>Header Size : {{ headerSize }} And Request Size : {{ requestSize }}</p>
        <p>The content of the response is {{ content }}</p>
    </body>
</html>

